  *{
    box-sizing: border-box;
    font-family: arial ,sans-serif;
    scroll-behavior:smooth;
    
  }

#main-doc{
  font-size: 15px;  
  line-height: 23px;
  color: rgb(77, 78, 83); 
}

header{
  margin-left: 10px;
  padding: 18px;
  color: black;
  font-size: 29px;
  font-weight:300;
} 

#navbar ul{
  position: fixed;
  padding: 0;
  margin: 0;
  display: flexbox;
  height: 90%;
  width: 300px;
  font-weight:200;
  overflow-x:hidden ; 
  border-right: solid 2px rgb(77, 78, 83);
  
}
#navbar ul li{
  padding:13px 0px 13px 30px;
  border-top: solid 1px black;
  list-style: none;
  font-size: 16px;
  
  
}
#navbar{
  position:fixed;
  width: 300px;
  height: 90%;
  top: 0px;
  left: 0px;
  border-right: solid 2px rgb(77, 78, 83);
  
}
#nav-link{
  color: rgb(77, 78, 83);
  text-decoration: none;

}

.nav-link:hover{
color: rgb(77, 78, 83);

} 
.main-section{
  margin-left: 300px;
}
code{
  display: block;
  font-family: monospace;
  font-weight: 400;
  background-color: rgb(247, 247, 247);
  color: rgb(77, 78, 83);
  padding:20px 10px 20px 15px;
  border-radius: 10px;
  
}
p{
  margin-left: 40px;
  
}
.main-section ul li {
  margin-left: 60px;
  padding:5px 0px 5px 0px ;
}

@media  (max-width: 815px) {
  #navbar header{
   
    text-align: center;
  }
  #navbar ul{
    position:relative;
    padding: 0;
    margin: 0;
    display:flexbox;
    height: 230px;
    width: 100%;
    font-weight:200;
    overflow-x:hidden ;
    border-bottom: solid 2px black;
    border-top: solid 1.5px black;
    
    
  }

  #navbar{
    position:relative;
    margin-left:-8px;
    width: 105%;
    border-right:none;
    padding: 0px;
    
  }
  #navbar ul li{
    
  }
   
  .main-section{
    position:relative;
    margin-left: 0px;
    padding:0px ;
  }
  
}